astroid==2.4.1
-e git+https://github.com/SohierDane/BigQuery_Helper@8615a7f6c1663e7f2d48aa2b32c2dbcb600a440f#egg=bq_helper
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
google-api-core==1.17.0
google-auth==1.15.0
google-cloud-bigquery==1.24.0
google-cloud-core==1.3.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.4
pandas==1.0.3
protobuf==3.12.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.5.2
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.32.4
rsa==4.0
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
urllib3==2.6.0
wrapt==1.12.1
